body {
    display: block;
    margin: 0px;
    background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/edmonds-marina-sunset-mike-penney.jpg);
    width: 100%;
    background-size: 100%;
    

}
.my-form .validation{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);;
    width: 400px;
    margin-left: 404px;
    margin-top: 70px;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 70px;
    color: rgb(100, 2, 51);
    font-weight: bold;
  
    
    /*box-shadow:1px 0px 9px 3px #888888;*/

}
.my-form .validation h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
  
   
}

.my-form .validation .nom-validate{
    padding-top: 34px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}

.my-form .validation .prenom-validate{
    padding: 10px;

}
.my-form .validation .adr-validate{
    padding: 10px;

}
.my-form .validation .mail-validate{
    padding: 10px;

}
.my-form .validation .pwd-validate{
    padding: 10px;

}
.my-form .validation .cmt-validate{
    padding: 10px;
    margin-bottom: 10px;
   

}
.my-form .validation .btn-validate {
    margin-bottom: 24px;
    margin-left: 13px;
}
.my-form .validation .button-validate {
   
    margin-left: 13px;
}
.my-form .validation .btn-validate .btn-submit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: green;
    border-radius: 5px;
    width: 118px;
    padding: 6px;
    padding-right: 59px;
    padding-left: 66px;
    color: white;
    margin-left: 10px;  
    cursor: pointer;
}

.my-form .validation .button-validate .btn-reset{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(238, 89, 89);
    border-radius: 5px;
    width: 118px;
    color: white;
    padding: 6px;
    padding-right: 70px;
    padding-left: 66px;
    margin-left: 10px;  
}
